:root {
    --letra--de--mao: 'Festive', cursive;
    /* --letra--de-mao2 : 'Nanum Myeongjo', serif; */
    --letra--de--mao2: 'Vibur', cursive;
    --letra--texto: 'Montserrat', sans-serif;
}
body{
    box-sizing: border-box;
    padding: 150px ,0,0,0;
}
header {
    width: 100%;
    background-color: #006d77;
    height: 150px;
    display: flex;
    position: fixed;
    left: 0%;
    top: 0;
}
.texto-nome {
    font-size: 3.2rem;
    display: flex;
    align-items: center;
    margin-left: 4rem;
    width: 40%;
    font-family: var(--letra--texto);
    color: #fffcf9;
    letter-spacing: 0.9rem;
}
/* .menu-logo{

} */
.logo-eu{
    height: 118px;
    border: solid;
    border-radius: 100%;
    position: fixed;
    left: 47%;
    top: 12px;

}
.logo-esporte{
    height: 118px;
    border: solid;
    border-radius: 118%;
    position: fixed;
    left: 54%;
    top: 13px;
}
.logo-job{
    height: 118px;
    border: solid;
    border-radius: 100%;
    position: fixed;
    left: 61%;
    top: 14px;
    image-rendering: -webkit-optimize-contrast;
}
.logo:hover{
    opacity: 0.4;
    cursor: pointer;
}

.texto-canto{
    font-size: 1.2rem;
    letter-spacing:normal;
    position: absolute;
    left: 1rem;
    top: 1rem;
}
.letra:hover{
transform: scale(1.5);
transition-duration: 1s;
color: #63AFAD;
cursor: pointer;
}
ul {
    margin: 0rem 5rem 1rem 0.5rem;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
li {
    padding: 1rem 0.5rem 1rem 3rem;
    width: 13%;
    content-visibility: auto;
}
li:hover {
    color: #006D77;
    cursor: pointer;
    /* font-size: 2rem; */
    transition-duration: 1s;
    transform: scale(1.3);
    /* transition-duration: 5s; */
}

.texto-link {
    text-decoration: none;
    font-size: 1.7rem;
    color: #fffcf9;
    letter-spacing: 3px;

}

.texto-link:hover {
    color: #63AFAD;
    transition-duration: 1s;
    text-decoration: underline;

}


.conteudo {
    /* top: 150px; */
    
    /* height: 100vh; */
    width: 100%;
    display: flex;
     padding-top: 140px;  /*Padding para compensar o Header */
}

.conteudo-imagem {
    /* position: relative; */
    /* height: 480px; */
    
    width: 38%;
    /* padding: 50px 0 30px 70px; */
    text-align: center;
    margin:40px 0 30px 0;
}
/* .conteudo-imagem:hover{
 
   
} */

.conteudo-nome {
     padding-top: 170px;
    font-family: var(--letra--de--mao2);
    font-size: 4rem;
}

.imagem {
    height: 300px;
    border: solid;
    border-radius: 100%;
    }
.imagem:hover {
    transition-duration: 1s;
    transform: scale(1.1);
}
  /* Falta mecher aqui que esta jogando os itens para o lado */
.conteudo-texto {
    align-self: center;
    height: 500px;
    padding: 120px 0 0 0;
    width: 60%;

}

.conteudo-titulo {
  
    font-size: 2.4rem;
    font-family: var(--letra--texto);
    font-weight: bold;
    display: flex;
    height: 50px;
    transition-duration: 1s;

}

.conteudo-titulo:hover {
    color: #006d77;
    transition-duration: 1s;
    margin-left: 20px;

}

.conteudo-paragrafo {
    font-size: 1.5rem;
    display: flex;
}
footer{
    width: 100%;
    background-color: #006d77;
    height: 100px;
    display: flex;
    position: fixed;
    left: 0%;
bottom: 0;

font-size: 1.7rem;
color: #fffcf9;
}
a{
    text-decoration: none;
    color: #fffcf9;
}
.rodape-logo{

    height: 80px;
    align-self: center;
    margin-right: 15px;
}
.tel{
    align-self: center;
margin-right: 500px;
}
.email{
    align-self: center;
}